[Desktop Entry]
Name=RadioStream
Exec=RadioStream %u
Icon=/usr/local/radiostream/icon.svg
Terminal=false
Type=Application
Categories=AudioVideo;Audio;